@import url(http://fonts.googleapis.com/earlyaccess/notosansbengaliui.css);
*{box-sizing: border-box;}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Bengali UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

header{
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 2%;
}

.navigation{
  width: 17%;
  float: left;
  height: 500px;
  overflow-y: scroll;
}

.content{
  width: 80%;
  padding: 0 5%;
  float: left;
}

h2{
  border-bottom: thick #ecf0f1 solid;
}